/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

&lt { quick_tap_ms = <200>; };

/ {
    behaviors {
        LShift_kp: LShift_kp {
            compatible = "zmk,behavior-hold-tap";
            label = "LSHIFT_KP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <135>;
            hold-trigger-key-positions = <20 29>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            /* Colemak-DH
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   Q  |   W  |   F  |   P  |   B  |                      |   J  |   L  |   U  |   Y  |   ;  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   A  |   R  |   S  |   T  |   G  |                      |   M  |   N  |   E  |   I  |   O  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   Z  |   X  |   C  |   D  |   V  |  |CPSLK|    |NUMLK|  |   K  |   H  |   ,  |   .  |   /  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----. 
 *          |  1  |   | NUM | SPACE | 	   |            |       | BS |  NAV  |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&kp Q                    &kp W             &kp F         &kp P      &kp B     &kp J   &kp L  &kp U      &kp Y          &kp SEMI
&kp A                    &kp R             &kp S         &kp T      &kp G     &kp M   &kp N  &kp E      &kp I          &kp O
&LShift_kp LEFT_SHIFT Z  &kp X             &kp C         &kp D      &kp V     &kp K   &kp H  &kp COMMA  &kp DOT        &LShift_kp SLASH RIGHT_SHIFT
&trans                   &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE  &trans    &trans  &mo 2  &mo 1      &kp RIGHT_GUI  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp K_VOLUME_UP K_VOLUME_DOWN>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };

        number_layer {
            /* NUM
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |  ESC |  F10 |  F11 |  F12 |	  	|                      |   /  |   7  |   8  |   9  |   -  |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |  GUI |  ALT | CTRL | SHIFT|  TAB |                      |   =  |   4  |   5  |   6  |   +  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |  RET |  F7  |  F8  |  F9  |      |  |CPSLK|    |NUMLK|  |   0  |   1  |   2  |   3  |   *  |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----. 
 *          |  1  |   | NUM | SPACE |  	   |            |      | DEL |  NAV  |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&kp ESC         &kp BACKSPACE   &kp UP_ARROW    &kp DELETE       &kp PG_UP    &kp KP_PLUS  &kp N7  &kp N8  &kp N9  &kp KP_DIVIDE
&kp TAB         &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT_ARROW  &kp TAB      &kp MINUS    &kp N4  &kp N5  &kp N6  &kp KP_ASTERISK
&kp LEFT_SHIFT  &trans          &trans          &kp RET          &trans       &kp N0       &kp N1  &kp N2  &kp N3  &kp KP_EQUAL
&trans          &trans          &trans          &trans           &trans       &trans       &trans  &trans  &trans  &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN &inc_dec_kp TAB LS(TAB)>;
        };

        symbol_layer {
            /* SYM
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |   %  |   @  |   [  |   ]  |   \  |                      |       |     |   ^  |      |      |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |   #  |   !  |   (  |   )  |   |  |                      |   _  |   '  |   "  |   ~  |   `  |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * |   $  |      |   {  |   }  |   &  |  |CPSLK|    |NUMLK|  |      |      |      |      |      |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----. 
 *          |  1  |   | NUM | SPACE |      |            |       | BS |  NAV  |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&kp PRCNT  &kp AT       &kp LBKT   &kp RBKT  &kp NON_US_BSLH    &trans     &trans    &kp CARET          &trans     &studio_unlock
&kp HASH   &kp EXCL     &kp LPAR   &kp RPAR  &kp PIPE           &kp UNDER  &kp APOS  &kp DOUBLE_QUOTES  &kp TILDE  &out OUT_BLE
&kp DLLR   &zed_em_kay  &kp LBRC   &kp RBRC  &kp AMPS           &trans     &trans    &trans             &trans     &trans
&trans     &mo 1        &kp SPACE  &kp TAB   &trans             &trans     &trans    &kp BSPC           &mo 0      &trans
            >;

            sensor-bindings = <&inc_dec_kp PAGE_UP PAGE_DOWN &inc_dec_kp C_VOL_UP C_VOL_DN>;
        };

        QWERT {
            /* GAME
 *
 * ,----------------------------------.                      ,----------------------------------.
 * |  ESC |   Q  |   W  |   E  |   R  |                      |      |      |      |      |      |
 * |------+------+------+------+------|                      |------+------+------+------+------|
 * |Shift |   A  |   S  |   D  |   F  |                      |      |      |      |      |      |
 * |------+------+------+------+------|  ,-----.    ,-----.  |------+------+------+------+------|
 * | Ctrl |   Z  |   X  |   C  |   V  |  |CPSLK|    |NUMLK|  |      |      |      |      |      |
 * `----------------------------------'  `-----'    `-----'  `----------------------------------'
 *          ,-----.   ,--------------------.            ,--------------------.   ,-----. 
 *          |  1  |   |  TAB  | SPACE |    |            |       | BS |       |   |  4  |
 *          `-----'   `--------------------'            `--------------------'   `-----'
 */

            bindings = <
&gresc  &kp W             &kp E         &kp R      &kp T     &kp Z   &kp U  &kp I      &kp O          &kp P
&kp A   &kp S             &kp D         &kp F      &kp G     &kp H   &kp J  &kp K      &kp L          &kp SEMI
&kp Y   &kp X             &kp C         &kp V      &kp B     &kp N   &kp M  &kp COMMA  &kp PERIOD     &kp SLASH
&trans  &kp LEFT_CONTROL  &kp LEFT_ALT  &kp SPACE  &trans    &trans  &mo 2  &mo 1      &kp RIGHT_GUI  &trans
            >;

            sensor-bindings =
                <&inc_dec_kp K_VOLUME_UP K_VOLUME_DOWN>,
                <&inc_dec_kp PAGE_UP PAGE_DOWN>;
        };
    };
};

/ {
    conditional_layers { compatible = "zmk,conditional-layers"; };
};

/ {
    combos {
        compatible = "zmk,combos";

        qwert_layer {
            bindings = <&to 3>;
            key-positions = <5 9>;
            layers = <0>;
        };

        colemake_layer {
            bindings = <&to 0>;
            key-positions = <25 29>;
            layers = <3>;
        };
    };
};

/ {
    macros {
        zed_em_kay: zed_em_kay {
            label = "ZM_zed_em_kay";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings =
                <&macro_press>,
                <&kp LALT>,
                <&macro_tap>,
                <&kp KP_N0 &kp KP_N1 &kp KP_N6 &kp KP_N3>,
                <&macro_release>,
                <&kp LALT>;
        };
    };
};
